
@{
    ViewBag.Title = "AreaPessoal";
    Layout = "~/Views/Shared/_Navbar.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Área Pessoal</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a7c7c4a450.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li id="navProfile" class="nav-item mt-2">
                    <i class="fas fa-user text-warning" style="margin-right: 10px;"></i>
                    @Html.ActionLink("Perfil", "Index", "Client", new { @class = "SBAP" })
                </li>
                <li id="navTraining" class="nav-item mt-2">
                    <i class="fas fa-dumbbell text-warning" style="margin-right: 3px;"></i>
                    @Html.ActionLink("Treinos", "Treinos", "Client", new { @class = "SBAP" })
                </li>
                <li id="navNutrition" class="nav-item mt-2">
                    <i class="fas fa-utensils text-warning" style="margin-right: 10px;"></i>
                    @Html.ActionLink("Planos de Nutrição", "PlanosNutricao", "Client", new { @class = "SBAP" })
                </li>
                <li id="navProgress" class="nav-item mt-2">
                    <i class="fas fa-weight text-warning" style="margin-right: 7px;"></i>
                    @Html.ActionLink("Progresso", "Progresso", "Client", new { @class = "SBAP" })
                </li>
                <li id="navMessage" class="nav-item mt-2">
                    <i class="far fa-comments text-warning" style="margin-right: 7px;"></i>
                    @Html.ActionLink("Mensagens", "Mensagens", "Client", new { @class = "SBAP" })
                </li>
            </ul>
        </div>
        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" class="btn mb-2" id="menu-toggle1" style="background-color: none; padding:5px 5px;"><i class="fas fa-arrow-left" style="font-size:20px;color: #2C3E50;"></i></a>
                        <a href="#" class="btn mb-2 d-none buttonIcon" id="menu-toggle2" style="background-color: none;"><i class="fas fa-arrow-right" style="font-size:20px;color: #2C3E50;"></i></a>
                        <div class="ml-3">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script>
        /*Abrir e fechar o menu*/
        $("#menu-toggle1").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuHide");
            $("#menu-toggle2").toggleClass("d-none");
            $("#menu-toggle1").toggleClass("d-none");
        });
        /*Troca de butões*/
        $("#menu-toggle2").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuHide");
            $("#menu-toggle1").toggleClass("d-none");
            $("#menu-toggle2").toggleClass("d-none");
        });
    </script>
</body>
</html>
