
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TrainerNavbar.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a7c7c4a450.js" crossorigin="anonymous"></script>
</head>
<body>

    @{

    }

    <div class="" style="margin-top:80px;">
        <h3 class="text-center">Gestão de clientes</h3>
    </div>
    <!--PESQUISA DE CLIENTES-->
    <form action="" class="mx-auto mt-5" style="width:1000px;">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
                <input type="search" id="searchClient" placeholder="Nome do cliente" onkeyup="mySearch()" aria-describedby="" class="form-control  bg-light border-primary">
                <div class="input-group-append">
                    <button id="button-addon1" type="submit" class="btn btn-link text-primary btn-outline-primary" disabled><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </form>
    <!--MENU DE CLIENTES-->
    @{
        int i = 0, aux = 1;
        var idDropdown = "clientForm";
        while (i < 15)
        {
            var dropdownMenuClient = idDropdown + aux;

            <div class="pl-4 pr-4 mt-3">
                <div name="clientDiv" class="dropdown buttonTrainer-Format">
                    <button class="btn w-100 text-white" type="button" id="" onclick="openDropdown('@dropdownMenuClient');">
                        <span class="h6 float-left"><img class="userImage" src="~/Content/images/user.png" alt="Utilizador" style="border:1px solid white;"></span>
                        <p class="float-left ml-4 mt-4 textFormat">Carlos Santos</p>
                        <span class="float-right mt-3 textFormat-Icon"><i class="fas fa-plus-square ml-4 " style="background-color:#41566C; color:#E2EEFF"></i></span>
                    </button>
                    <div id="@dropdownMenuClient" class="d-none text-center dropClient-Format">
                        <form id="submitMesures" class="p-3">
                            <div class="row">
                                <div class="form-group col-12 col-sm-6 col-md-4 col-lg dropText-Format">
                                    <i class="fas fa-user-circle navPersonal-Backgroung-Front mr-1"></i>@Html.ActionLink("Perfil", "ClientePerfil", "Trainer", new { @class = "DDCT" })
                                </div>
                                <div class="form-group col-12 col-sm-6 col-md-4 col-lg dropText-Format">
                                    <i class="fas fa-user-circle navPersonal-Backgroung-Front mr-1"></i>@Html.ActionLink("Treinos", "ClienteTreinos", "Trainer", new { @class = "DDCT" })
                                </div>
                                <div class="form-group col-12 col-sm-6 col-md-4 col-lg dropText-Format">
                                    <i class="fas fa-user-circle navPersonal-Backgroung-Front mr-1"></i>@Html.ActionLink("Planos de Nutrição", "ClienteNutricao", "Trainer", new { @class = "DDCT" })
                                </div>
                                <div class="form-group col-12 col-sm-6 col-md-4 col-lg dropText-Format">
                                    <i class="fas fa-user-circle navPersonal-Backgroung-Front mr-1"></i>@Html.ActionLink("Progresso", "ClienteProgresso", "Trainer", new { @class = "DDCT" })
                                </div>
                                <div class="form-group col-12 col-sm-6 col-md-4 col-lg dropText-Format">
                                    <i class="fas fa-user-circle navPersonal-Backgroung-Front mr-1"></i>@Html.ActionLink("Mensagens", "ClienteMensagens", "Trainer", new { @class = "DDCT" })
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            i++;
            aux++;
        }
    }


    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script>
        /*Abrir e fechar Dropdown dos clientes*/
        function openDropdown(id) {
            let test = document.getElementById(id);
            test.classList.toggle('d-none');
        }
        /*Função de pesquisa*/
        function mySearch() {
            var input, filter, divC, btN, p, i, txtValue;

            input = document.getElementById('searchClient');
            filter = input.value.toUpperCase();
            divC = document.getElementsByName("clientDiv");

            for (i = 0; i < divC.length; i++) {
                btN = divC[i].getElementsByTagName('p');
                p = btN[0];

                txtValue = p.textContent || p.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    divC[i].style.display = "";
                } else {
                    divC[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>
